<div class="row mt-3">
  <div class="col">
    <% @hand.player_hands.each do |player_hand| %>
      <div class="row border mb-3 mx-2">
        <div class="col border-right border-bottom"><%= player_hand.player_name %></div>
        <div class="col border-bottom"><%= player_hand.hand_status %></div>
        <div class="w-100"></div>
        <div class="col border-right">¢<%= player_hand.player_balance %></div>
        <div class="col"><%= "..." %></div>
      </div>
    <% end %>
  </div>
  <div class="col-8">
    <div class="row justify-content-center mx-2 mb-5">
      <div class="col">
            <h1 class="text-center"><%= @hand.table_name %></h1>
            <h6 class="text-center mb-5"><%= @hand.small_blind_amount %> / <%= @hand.big_blind_amount %></h6>

            <div class="row">
              <% @hand.cards.each do |card| %>
                <div class="col">
                  <%= image_tag "cards/#{card}.png", class: "table-card border" %>
                </div>
              <% end %>
            </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h5 class="text-center mb-4">Your Cards</h5>
        <div class="row justify-content-center">
            <% @current_player_hand.cards.each do |card| %>
              <div class="col-4">
                <%= image_tag "cards/#{card}.png", class: "player-card border" %>
              </div>
            <% end %>
        </div>
      </div>
      <div class="col">
        <h5 class="text-center mb-4">Actions</h5>
        <div class="mb-3">
          <button type="button" class="btn btn-block btn-secondary" disabled>Fold</button>
        </div>
        <div class="mb-3">
          <button type="button" class="btn btn-block btn-danger">Fold</button>
        </div>
        <div class="mb-3">
          <button type="button" class="btn btn-block btn-warning">Check</button>
        </div>
        <div class="mb-3">
          <button type="button" class="btn btn-block btn-success">Call</button>
        </div>
        <div class="mb-3">
          <button type="button" class="btn btn-block btn-primary">Raise</button>
        </div>
      </div>
    </div>
  </div>
</div>
