<div class="row mt-3">
  <div class="col">
    <% @hand.table_players.order(:player_id).each do |table_player| %>
      <% player_hand = @hand.player_hands.find_by(player_id: table_player.player_id) %>
      <% if player_hand.present? %>
        <% if @hand.finished? %>
          <div class="row border mb-3 mx-2">
            <div class="col border-right border-bottom"><%= player_hand.name_with_position %></div>
            <% if @hand.current? %>
              <div class="col border-bottom"></div>
              <div class="w-100"></div>
              <div class="col border-right border-bottom">
                  Bank: ¢<%= player_hand.balance %>
              </div>
            <% end %>
            <div class="col border-bottom"><%= player_hand.winnings %></div>
            <% unless player_hand.folded? || player_hand.muck? %>
              <div class="w-100"></div>
              <div class="col border-right border-bottom">
                <%= humanize_cards(player_hand.cards) %>
              </div>
              <div class="col border-bottom"><%= player_hand.best_poker_hand.rank %></div>
            <% end %>
            <div class="w-100"></div>
            <div class="col">
              <% if player_hand.folded? %>
                <div class="row">
                  <div class="mx-auto">Folded</div>
                </div>
              <% elsif player_hand.muck? %>
                <div class="row">
                  <div class="mx-auto">Winner</div>
                </div>
              <% else %>
                <div class="row">
                  <div class="mx-auto">
                    <% player_hand.best_cards.each do |card| %>
                      <%= image_tag "cards/#{card}.png", class: "table-card-small border" %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% else %>
          <div class="row border mb-3 mx-2">
            <div class="col border-right border-bottom"><%= player_hand.name_with_position %></div>
            <div class="col border-bottom"><%= player_hand.status.to_s.gsub("\n", "<br>").html_safe %></div>
            <div class="w-100"></div>
            <div class="col border-right">Bank: ¢<%= player_hand.balance %></div>
            <div class="col">Round: ¢<%= player_hand.current_round_bets_sum %></div>
          </div>
        <% end %>
      <% else %>
        <div class="row border mb-3 mx-2">
          <div class="col border-right border-bottom"><%= table_player.player_name %></div>
          <div class="col border-bottom">Sitting Out</div>
          <div class="w-100"></div>
          <div class="col border-right">Bank: ¢<%= table_player.balance %></div>
          <div class="col"></div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-8">
    <div class="row justify-content-center mx-2 mb-5">
      <div class="col">
            <h1 class="text-center"><%= @hand.table_name %></h1>
            <h6 class="text-center mb-5">Pot: ¢<%= @hand.pot_amount %></h6>

            <div class="row">
              <% @hand.visible_cards.each do |card| %>
                <div class="col">
                  <%= image_tag "cards/#{card}.png", class: "table-card border" %>
                </div>
              <% end %>
              <% (5 - (@hand.visible_cards.count)).times do |i| %>
                <div class="col">
                  <%= image_tag "cards/back.png", class: "table-card border" %>
                </div>
              <% end %>
            </div>
      </div>
    </div>
    <% if @current_player_hand.present? %>
      <div class="row">
        <div class="col">
          <h5 class="text-center mb-4">Your Cards</h5>
          <div class="row justify-content-center">
              <% @current_player_hand.cards.each do |card| %>
                <div class="col-4">
                  <%= image_tag "cards/#{card}.png", class: "player-card border" %>
                </div>
              <% end %>
          </div>
        </div>
        <div class="col">
          <h5 class="text-center mb-4">Actions</h5>
          <% if @current_player_hand.current_actor? %>
            <% if @hand.current_betting_round.present? && @current_player_hand.call_amount.nonzero? %>
              <%= render "hands/actions/fold" %>
              <%= render "hands/actions/call" %>
              <% unless @current_player_hand.calling_brings_all_in? %>
                <%= render "hands/actions/raise" %>
              <% end %>
            <% else %>
              <%= render "hands/actions/check" %>
              <% if @hand.current_betting_round.try(:blinds?) && @current_player_hand.big_blind? %>
                <%= render "hands/actions/raise" %>
              <% else %>
                <%= render "hands/actions/bet" %>
              <% end %>
            <% end %>
          <% else %>
            <% if @hand.finished? %>
                <% if @hand.next_hand.present? %>
                  <div class="mb-3">
                    <%= link_to "Go To Next Hand", hand_path(@hand.next_hand.id), class: "btn btn-block btn-primary" %>
                  </div>
                <% else %>
                  <% if @current_player_hand.small_blind? %>
                    <div class="mb-3">
                      <%= link_to "Deal Next Hand", deal_cards_table_path(@hand.table_id), method: :post, class: "btn btn-block btn-primary" %>
                    </div>
                  <% else %>
                    <div class="mb-3">
                      <button type="button" class="btn btn-block btn-secondary" disabled>Waiting For Deal</button>
                    </div>
                  <% end %>
                <% end %>
            <% else %>
              <% if @current_player_hand.folded? %>
                <div class="mb-3">
                  <button type="button" class="btn btn-block btn-secondary" disabled>Folded</button>
                </div>
              <% elsif @hand.current_betting_round.present? %>
                <div class="mb-3">
                  <button type="button" class="btn btn-block btn-secondary" disabled>Fold</button>
                </div>
                <div class="mb-3">
                  <button type="button" class="btn btn-block btn-secondary" disabled>Call</button>
                </div>
                <div class="mb-3">
                  <button type="button" class="btn btn-block btn-secondary" disabled>Raise</button>
                </div>
              <% else %>
                <div class="mb-3">
                  <button type="button" class="btn btn-block btn-secondary" disabled>Check</button>
                </div>
                <div class="mb-3">
                  <button type="button" class="btn btn-block btn-secondary" disabled>Bet</button>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% else %>
      <h5 class="text-center mb-4">Sitting Out</h5>
    <% end %>
  </div>
</div>
