<div class="row mt-4 mb-4">
  <div class="col">
    <h3>Tables</h3>
  </div>
  <div class="col">
    <%= link_to "New Table", new_table_path, class: "btn btn-primary float-right" %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Blinds</th>
      <th>Players</th>
      <th>Balance</th>
    </tr>
  </thead>

  <tbody>
    <% current_user.table_players.joins(:table).where(tables: {active: true}).order("tables.created_at DESC").each do |table_player| %>
      <tr>
        <td>
          <% if table_player.table.current_hand.present? %>
            <%= link_to table_player.table.name, hand_path(table_player.table.current_hand.id) %>
          <% else %>
            <%= link_to table_player.table.name, deal_first_hand_table_path(table_player.table.id), method: :post %>
          <% end %>
          <% if table_player.table.created_by == current_user %>
            <%= link_to "(edit)", edit_table_path(table_player.table_id) %>
          <% end %>
        </td>
        <td><%= "#{table_player.table.big_blind_amount} / #{table_player.table.small_blind_amount}" %></td>
        <td><%= table_player.table.player_names.join(", ") %></td>
        <td><%= table_player.balance %></td>
      </tr>
    <% end %>
  </tbody>
</table>
