<div class="mb-3">
  <%= simple_form_for @hand do |f| %>
    <div class="form-row">
      <div class="col-9">
        <%= f.hidden_field :action, value: "call" %>
        <% if @current_player_hand.calling_brings_all_in? %>
          <%= f.button :submit, "All In", class: "btn btn-block btn-success mr-3" %>
        <% else %>
          <%= f.button :submit, "Call", class: "btn btn-block btn-success mr-3" %>
        <% end %>
      </div>
      <div class="col-3">
        <%= simple_fields_for :bet do |o| %>
          <%= o.input :amount, as: :integer, required: false, label: false, input_html: {class: "form-control", value: @current_player_hand.call_amount, disabled: true} %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
